<a href="https://colab.research.google.com/github/messaf27/GB_HomeWorks/blob/master/mainProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns

In [5]:
penguins = sns.load_dataset("penguins")

In [29]:
print(penguins)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex  high_bill_deph  bill_high_deph  high_deph  \
0         3750.0    Male           False           False      False
1         3800.0  Female           False           False      False
2         3250.0  Female           False           False      False
3            NaN     NaN           False           False      False
4         3450.0  Female           False           False      False
..           ...     ...             ...             ...        ...
339          NaN     NaN           False           False      False
340       4850.0  Female           False           False      False
341       5750.0    Male           False           False      False
342       5200.0  Female           False           False      False
343       5400.0    Male           False           False      False

     middle_deph  low_deph
0          False      True
1          False      True
2          False      True
3          False     False
4          False      True
..           ...       ...
339        False     False
340        False      True
341        False      True
342        False      True
343        False      True

[344 rows x 12 columns]

In [8]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [36]:
penguins['high_deph'] = penguins['bill_length_mm'] > 42
penguins['middle_deph'] = (penguins['bill_length_mm'] > 35) & (penguins['bill_length_mm'] > 35)
penguins['low_deph'] = penguins['bill_length_mm'] < 35
penguins.columns
print(penguins[['high_deph', 'middle_deph','low_deph']])

     high_deph  middle_deph  low_deph
0        False         True     False
1        False         True     False
2        False         True     False
3        False        False     False
4        False         True     False
..         ...          ...       ...
339      False        False     False
340       True         True     False
341       True         True     False
342       True         True     False
343       True         True     False

[344 rows x 3 columns]

In [37]:
penguins[penguins['high_deph'] == True]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,high_bill_deph,bill_high_deph,high_deph,middle_deph,low_deph
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male,False,False,True,True,False
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,Male,False,False,True,True,False
37,Adelie,Dream,42.2,18.5,180.0,3550.0,Female,False,False,True,True,False
43,Adelie,Dream,44.1,19.7,196.0,4400.0,Male,False,False,True,True,False
49,Adelie,Dream,42.3,21.2,191.0,4150.0,Male,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,False,False,True,True,False
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,False,False,True,True,False
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,False,False,True,True,False
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,False,False,True,True,False
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,False,False,True,True,False

In [38]:
penguins[penguins['middle_deph'] == True]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,high_bill_deph,bill_high_deph,high_deph,middle_deph,low_deph
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,False,False,False,True,False
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,False,False,False,True,False
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,False,False,False,True,False
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,False,False,False,True,False
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,False,False,True,True,False
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,False,False,True,True,False
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,False,False,True,True,False
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,False,False,True,True,False
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,False,False,True,True,False

In [39]:
penguins[penguins['low_deph'] == True]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,high_bill_deph,bill_high_deph,high_deph,middle_deph,low_deph
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,False,False,False,False,True
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male,False,False,False,False,True
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female,False,False,False,False,True
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,Female,False,False,False,False,True
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,Female,False,False,False,False,True
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,Female,False,False,False,False,True
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female,False,False,False,False,True
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female,False,False,False,False,True
142,Adelie,Dream,32.1,15.5,188.0,3050.0,Female,False,False,False,False,True